---
import localImage from "../assests/profile.jpg";
import { Theme } from "./Theme";
---

<header
  class="flex justify-center py-5 items-center w-full xl:w-[1120px] mx-auto"
>
  <span></span>
  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="#top" class="hover:text-yellow-100">Home</a>
    <a href="#experience" class="hover:text-yellow-100">Experience</a>
    <a href="#projects" class="hover:text-yellow-100">Last Proyects</a>
    <a href="#contact" class="hover:text-yellow-100">Contact</a>
  </nav>
</header>
