---
import ExperienceItem from "./ExperienceItem.astro";

//@ts-ignore
const Exp = [
  {
    title: "Full-Stack Developer - Dissau LLC",
    date: "May 2024 – Present",
    description: [
      "Led the development and deployment of full-stack e-commerce websites, integrating diverse payment gateways like Stripe and PayPal to enhance user experience.",
      "Architected and implemented scalable web application back-end solutions using Node.js, Express.js, and PostgreSQL.",
      "Coordinated development workflows using Agile methodologies to ensure projects were delivered on time and within scope.",
    ],
    link: "https://www.dissau.net/",
  },
  {
    title: "Web & Mobile Developer - Tecopos",
    date: "July 2023 – May 2024",
    description: [
      "Developed, integrated, and tested code for mobile and web applications focused on customer loyalty and retention programs.",
      "Performed performance analysis and technical incident diagnosis, leading to the resolution of complex issues.",
      "Maintained and optimized a complex legacy codebase, significantly improving overall stability and performance.",
    ],
    link: "https://www.tecopos.com/",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
  {
    Exp.map((exp: any) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...exp} />
      </li>
    ))
  }
  <li class="mb-10 ms-4"></li>
</ol>
